.landscape {
  height: 40vh;
  background-color: #008000;
}

.gameinterface {
  display:block;
  overflow:auto;
  background-color: #fbeebb;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav ul li {
  float: left;
}

.nav ul li a {
  display: block;
  text-align: center;
  color: #000000;
  padding: 14px 16px;
  text-decoration: none;
}

.nav ul .active a {
  color: #00ff00;
}

.nav ul li a:hover {
  color: #ff0000;
}

.window {
  padding-top: 15px;
  color: #ff0000;
}

.purchase {
  width: 100%;
  display: block;
  background-color: #b9f44c;
}

.norequirements {
  background-color: #373c38 !important;
}

.norequirements .name{
  color: #6e7870 !important;
}

.norequirements .cost{
  color: #6e7870 !important;
}

.norequirements .count{
  color: #6e7870 !important;
}

.nomana {
  width: 100%;
  display: block;
  color: #8a978c;
}

.name {
  font-size: 16px;
  color: #6a3d3f;
}

.cost {
  font-size: 10px;
  color: #266585;
}

.count {
  font-size: 30px;
  color: #969ca6;
}
