<!-- left side with mana -->
<div class="col-md-4" ng-controller="ManaController">
    <button ng-click="getMana()">Manapool</button>
    <p>Mana: {{player.mana | number: 1}}</p>
    <p>Mana/Click: {{player.manaperclick | number: 1}}</p>
    <p>Mana/Sekunde: {{player.manapersecond | number: 1}}</p>
</div>

<!-- right side with staff -->
<div class="col-md-8" ng-controller="NavController as navCtrl">

    <!-- navigation -->
    <div class="nav">
        <ul>
            <li ng-class="{active: navCtrl.isSelectedTab(1)}">
                <a href ng-click="navCtrl.selectTab(1)">Lich</a>
            </li>
            <li ng-class="{active: navCtrl.isSelectedTab(2)}">
                <a href ng-click="navCtrl.selectTab(2)">Nekromantie</a>
            </li>
            <li ng-class="{active: navCtrl.isSelectedTab(3)}">
                <a href ng-click="navCtrl.selectTab(3)">Stadt</a>
            </li>
            <li ng-class="{active: navCtrl.isSelectedTab(4)}">
                <a href ng-click="navCtrl.selectTab(4)">Angriff</a>
            </li>
        </ul>
    </div>

    <!-- show upgrades for the lich -->
    <div class="col-md-9 row" ng-controller="LichController">
        <div class="col-md-6 row cont" ng-repeat="entry in lich" ng-show="navCtrl.isSelectedTab(1)">
            <button ng-click="upgrade(entry.id)" ng-disabled="disabled(entry.id)"
              ng-class="{purchase: !disabled(entry.id), nomana: disabled(entry.id)}"
              data-toggle="popover" data-placement="left" data-trigger="hover" data-content="Tooltip">
              <div class="col-md-11 row">
                <div class="col-md-12 name">
                  {{update[entry.id].name}}
                </div>
                <div class="col-md-12 cost">
                  Mana: {{entry.cost}}
                </div>
              </div>
              <div class="col-md-1 count">
                {{entry.level}}
              </div>
            </button>
        </div>
    </div>

    <!-- show creatures for summoning by necromancy -->
    <div class="col-md-9 row" ng-controller="necromancyController">
        <div class="col-md-6 row window" ng-repeat="entry in necromancy" ng-show="navCtrl.isSelectedTab(2)">
        
            <div class="col-md-2" ng-class="{goodtogo: requirements(entry.id)}">
                <button ng-click="summon(entry.id)" ng-disabled="disabled(entry.id)">+</button>
            </div>
            <div class="col-md-10 row">
                <div class="col-md-12" data-toggle="popover" data-placement="left" data-trigger="hover" data-content="<p>Angriff: {{undead[entry.id].attack}}</p>
                                 <p>Verteidigung: {{undead[entry.id].defence}}</p>
                                 <p>Schaden: {{undead[entry.id].damage}}</p>
                                 <p>Lebenspunkte: {{undead[entry.id].lifepoints}}</p>
                                 <p>Geschwindigkeit: {{undead[entry.id].speed}}</p>">
                    {{undead[entry.id].name}}: {{entry.count}}
                </div>
                <div class="col-md-12">
                    Mana: {{undead[entry.id].cost}}
                    <p>Disabled: {{disabled(entry.id)}}</p>
                    <p>Requirements: {{requirements(entry.id)}}</p>
                    <p>Require: {{undead[entry.id].require[1]}}
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9" ng-controller="buildingController">
      <div class="col-md-6 row window" ng-repeat="entry in stronghold" ng-show="navCtrl.isSelectedTab(3)">
          <div class="col-md-2">
              <button ng-click="build(entry.id)" ng-disabled="disabled(entry.id)">+</button>
          </div>
          <div class="col-md-10 row">
              <div class="col-md-12" data-toggle="popover" data-placement="left" data-trigger="hover" data-content="Tooltip">
                  {{building[entry.id].name}}: {{entry.level}}
              </div>
              <div class="col-md-12">
                  Mana: {{entry.cost}}
              </div>
          </div>
      </div>
    </div>

    <!-- organize  -->
    <div class="col-md-9 row" ng-controller="AttackController">
        <div class="col-md-6 row window" ng-repeat="entry in necromancy" ng-show="navCtrl.isSelectedTab(4)">
          <div class="col-md-3">
              <button ng-click="increase(entry.id)" ng-disabled="increasedisabled(entry.id)">+</button>
              <button ng-click="decrease(entry.id)" ng-disabled="decreasedisabled(entry.id)">-</button>
              <button ng-click="all(entry.id)" ng-disabled="increasedisabled(entry.id)">A</button>
              <button ng-click="none(entry.id)" ng-disabled="decreasedisabled(entry.id)">N</button>
          </div>
          <div class="col-md-7 row">
              <div class="col-md-12" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="<p>Angriff: {{entry.attack}}</p>
                               <p>Verteidigung: {{entry.defence}}</p>
                               <p>Schaden: {{entry.damage}}</p>
                               <p>Lebenspunkte: {{entry.lifepoints}}</p>
                               <p>Geschwindigkeit: {{entry.speed}}</p>">
                  {{undead[entry.id].name}}: {{army[entry.id].count}}
              </div>
              <div class="col-md-12">
                  Verfügbar: {{entry.count}}
              </div>
          </div>
        </div>
    </div>


<!-- picture is changing with more power of the Lich -->
<div class="col-md-3">
    Bild vom Lich
</div>

</div>
