<!-- left side with mana -->
<div class="col-md-4 row" ng-controller="ManaController">
    <button class="manapool" ng-click="getMana()"></button>
    <div class="mana">Mana: {{player.mana | number: 1}}</div>
    <div class="manapersecond">Mana/Click: {{player.manaperclick | number: 1}}</div>
    <div class="manaperclick">Mana/Sekunde: {{player.manapersecond | number: 1}}</div>
</div>

<!-- right side with staff -->
<div class="col-md-8" ng-controller="NavController as navCtrl">

    <!-- navigation -->
    <div class="nav">
        <ul>
            <li ng-class="{active: navCtrl.isSelectedTab(1)}">
                <a href ng-click="navCtrl.selectTab(1)">Lich</a>
            </li>
            <li ng-class="{active: navCtrl.isSelectedTab(2)}">
                <a href ng-click="navCtrl.selectTab(2)">Nekromantie</a>
            </li>
            <li ng-class="{active: navCtrl.isSelectedTab(3)}">
                <a href ng-click="navCtrl.selectTab(3)">Stadt</a>
            </li>
            <li ng-class="{active: navCtrl.isSelectedTab(4)}">
                <a href ng-click="navCtrl.selectTab(4)">Angriff</a>
            </li>
        </ul>
    </div>

    <!-- show upgrades for the lich -->
    <div class="col-md-9 row" ng-controller="LichController">
        <div class="col-md-6 row cont" ng-repeat="entry in lich" ng-show="navCtrl.isSelectedTab(1)">
            <button ng-click="upgrade(entry.id)" ng-disabled="disabled(entry.id)"
              ng-class="{purchase: !disabled(entry.id), nomana: disabled(entry.id)}"
              data-toggle="popover" data-placement="left" data-trigger="hover" data-content="Tooltip">
                <div class="col-md-11 row">
                    <div class="col-md-12 name">
                        {{update[entry.id].name}}
                    </div>
                    <div class="col-md-12 cost">
                        Mana: {{entry.cost}}
                    </div>
                </div>
                <div class="col-md-1 count">
                    {{entry.level}}
                </div>
            </button>
        </div>
    </div>

    <!-- show creatures for summoning by necromancy -->
    <div class="col-md-9 row" ng-controller="NecromancyController">
        <div class="col-md-6 row" ng-repeat="entry in necromancy" ng-show="navCtrl.isSelectedTab(2)">
            <button ng-click="summon(entry.id)" ng-disabled="disabled(entry.id)"
              ng-class="{norequirements: !requirements(entry.id), purchase: !disabled(entry.id), nomana: disabled(entry.id)}"
              data-toggle="popover" data-placement="left" data-trigger="hover" data-content='
                            <table>
                              <tr>
                                <td>Angriff:</td> <td>{{undead[entry.id].attack}}</td>
                              </tr>
                              <tr>
                                <td>Verteidigung:</td> <td>{{undead[entry.id].defence}}</td>
                              </tr>
                              <tr>
                                <td>Schaden:</td> <td>{{undead[entry.id].damage}}</td>
                              </tr>
                              <tr>
                                <td>Lebenspunkte:</td> <td>{{undead[entry.id].lifepoints}}</td>
                              </tr>
                              <tr>
                                <td>Geschwindigkeit:</td> <td>{{undead[entry.id].speed}}</td>
                              </tr>
                            </table>'>
                <div class="col-md-11 row">
                    <div class="col-md-12 name">
                        {{undead[entry.id].name}}
                    </div>
                    <div class="col-md-12 cost">
                        Mana: {{undead[entry.id].cost}}
                    </div>
                </div>
                <div class="col-md-1 count">
                    {{entry.count}}
                </div>
            </button>
        </div>
    </div>

    <div class="col-md-9 row" ng-controller="BuildingController">
        <div class="col-md-6 row" ng-repeat="entry in stronghold" ng-show="navCtrl.isSelectedTab(3)">
          <button ng-click="build(entry.id)" ng-disabled="disabled(entry.id)"
            ng-class="{norequirements: !requirements(entry.id), purchase: !disabled(entry.id), nomana: disabled(entry.id)}"
            data-toggle="popover" data-placement="left" data-trigger="hover" data-content="Tooltip">
              <div class="col-md-11 row">
                  <div class="col-md-12 name">
                      {{building[entry.id].name}}
                  </div>
                  <div class="col-md-12 cost">
                      Mana: {{entry.cost}}
                  </div>
              </div>
              <div class="col-md-1 count">
                  {{entry.level}}
              </div>
          </button>
        </div>
    </div>

    <!-- organize  -->
    <div class="col-md-9 row" ng-controller="AttackController">
      <div ng-show="navCtrl.isSelectedTab(4)">
        <div class="col-md-6 row">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" ng-repeat="entry in enemy">
              <li>{{entry.name}}</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <button>Angriff starten</button>
        </div>
        <div class="col-md-6 row" ng-repeat="entry in necromancy">
          <div class="col-md-12">
            <button ng-click="increase(entry.id)" ng-disabled="increasedisabled(entry.id)" class="armybutton"
              ng-class="{creature: available(entry.id), nocreature: !available(entry.id)}"
              data-toggle="popover" data-placement="left" data-trigger="hover" data-content='
                <table>
                  <tr>
                    <td>Angriff:</td> <td>{{undead[entry.id].attack}}</td>
                  </tr>
                  <tr>
                    <td>Verteidigung:</td> <td>{{undead[entry.id].defence}}</td>
                  </tr>
                  <tr>
                    <td>Schaden:</td> <td>{{undead[entry.id].damage}}</td>
                  </tr>
                  <tr>
                    <td>Lebenspunkte:</td> <td>{{undead[entry.id].lifepoints}}</td>
                  </tr>
                  <tr>
                    <td>Geschwindigkeit:</td> <td>{{undead[entry.id].speed}}</td>
                  </tr>
                </table>'>
              <div class="col-md-11 row">
                <div class="col-md-12 name">
                  {{undead[entry.id].name}}
                </div>
                <div class="col-md-12 cost">
                  Verfügbar: {{entry.count}}
                </div>
              </div>
              <div class="col-md-1 count">
                {{army[entry.id].count}}
              </div>
            </button>
          </div>
          <div class="col-md-4">
            <button ng-click="decrease(entry.id)" ng-disabled="decreasedisabled(entry.id)"
              ng-class="{creature: available(entry.id), nocreature: !available(entry.id)}">
              <div class="name">
                -
              </div>
            </button>
          </div>
          <div class="col-md-4">
            <button ng-click="all(entry.id)" ng-disabled="increasedisabled(entry.id)"
              ng-class="{creature: available(entry.id), nocreature: !available(entry.id)}">
              <div class="name">
                A
              </div>
            </button>
          </div>
          <div class="col-md-4">
            <button ng-click="none(entry.id)" ng-disabled="decreasedisabled(entry.id)"
              ng-class="{creature: available(entry.id), nocreature: !available(entry.id)}">
              <div class="name">
                N
              </div>
            </button>
          </div>

        </div>
      </div>
    </div>

    <!-- picture is changing with more power of the Lich -->
    <div class="col-md-3">
        Bild vom Lich
    </div>

</div>
