.landscape {
  height: 40vh;
  background-color: #008000;
}

.menubar {
  display:block;
  overflow:auto;
  min-height: 60vh;
  background-color: #fbeebb;
}

/* navigation design */
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav ul li {
  float: left;
}
.nav ul li a {
  display: block;
  text-align: center;
  color: #000000;
  padding: 14px 16px;
  text-decoration: none;
}
.nav ul .active a {
  color: #00ff00;
}
.nav ul li a:hover {
  color: #ff0000;
}
/* navigation end */

/* manapool design */
.manapool {
  display:block;
  margin: 15px auto 15px;
  border-radius: 100%;
  border: 1px solid #000000;
  width: 200px;
  height: 200px;
}
.mana {
  font-size: 16px;
  color: #030066;
  text-align: center;
}
.manapersecond {
  font-size: 10px;
  color: #266585;
  text-align: center;
}
.manaperclick {
  font-size: 10px;
  color: #266585;
  text-align: center;
}
/* manapool end */

/* requirements fullfiled, mana existend */
.purchase {
  width: 100%;
  display: block;
  background-color: #b9f44c;
}
.purchase .name {
  font-size: 16px;
  color: #6a3d3f;
}
.purchase .cost {
  font-size: 10px;
  color: #266585;
}
.purchase .amount {
  font-size: 30px;
  color: #969ca6;
}
/* purchase end */

/* not enough mana existend */
.nomana {
  width: 100% !important;
  display: block !important;
  background-color: #d0d5d1 !important;
}
.nomana .name {
  font-size: 16px !important;
  color: #8a978c !important;
}
.nomana .cost {
  font-size: 10px !important;
  color: #8a978c !important;
}
.nomana .amount {
  font-size: 30px !important;
  color: #8a978c !important;
}
/* nomana end */

/* requirements not fullfiled */
.norequirement {
  width: 100% !important;
  display: block !important;
  background-color: #d0d5d1 !important;
}
.norequirement .name {
  font-size: 16px !important;
  color: #996666 !important;
}
.norequirement .cost {
  font-size: 10px !important;
  color: #996666 !important;
}
.norequirement .amount {
  font-size: 30px !important;
  color: #996666 !important;
}
/* nomana end */

/* tooltip design */
.popover {
  background-color: #d0d5d1;
  color: #6a3d3f;
}
.popover-title {
  background-color: #d0d5d1;
  color: #6a3d3f;
}
.popover table {
  border-collapse: separate;
  border-spacing: 6px;
}
/* tooltip design end */
